/* Header */

header {
  padding: 1rem;
  color: #ffffff;
  background-color: #111;
  box-shadow: 0 0 10px var(--shadow-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 65px;
  width: 100%;
}

/* titlle */
#title {
  font-size: var(--header-title-size);
  cursor: pointer;
}

header .header-redes {
  gap: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
}

header .header-redes img {
  min-width: 20px;
  width: 1.8vw;
  cursor: pointer;
}

.header-redes .header-mail {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
}

.header-redes .header-mail .header-mail-container {
  overflow: hidden;
  width: auto;
}

.header-redes .header-mail .header-mail-container p {
  color: #ffffff;
  cursor: text;
  transition: transform 1s ease;
  transform: translateX(100%);
}

.header-redes .header-mail:hover .header-mail-container p {
  transform: translateX(0);
}

.header-redes .header-mail:hover p {
  width: auto;
  padding: 0 5px;
}

.header-mail .open-gmail {
  display: flex;
}

.header-redes .github {
  border-left: 2px solid #ffffff80;
  padding-left: 1rem;
  margin-left: 1rem;
}

header .header-redes .svg-container g {
  transition: fill-opacity 200ms ease;
}

/* Boton Menu */

.menu-btn {
  cursor: pointer;
  display: none;
  position: relative;
  z-index: 995;
}

.menu-btn > img {
  display: none;
}

.menu-btn.open .open-menu {
  display: initial;
}

.menu-btn.close .close-menu {
  display: block;
}

/* Messages */

#messages-container {
  position: absolute;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem;
  z-index: 999;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  transition: all 300ms ease;
}

.new-message {
  animation: newMessage 300ms forwards;
}

@keyframes newMessage {
  0% {
    transform: translateX(-50%) translateY(-25px);
  }
  100% {
    transform: translateX(-50%);
  }
}

.message {
  display: flex;
  align-items: center;
  border-radius: 5px;
  overflow: hidden;
}

.message.green {
  background-color: var(--green-message);
}

.message.green .message-close {
  background-color: var(--green-message-2);
}

.message.red {
  background-color: var(--red-message);
}

.message.red .message-close {
  background-color: var(--red-message-2);
}

.message p {
  padding: 5px 10px;
  font-size: var(--message-letter-size);
  color: var(--letter-color-2);
}

.message .message-close {
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
}

.message img {
  width: 15px;
  height: 15px;
}

/* Banner */

.banner-container {
  background-color: #111;
  width: 100%;
  height: calc(100vh - 65px);
  padding: 1rem;
  transition: all 1s ease;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.banner {
  width: 100%;
  display: flex;
  height: 70%;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  color: #ffffff;
}

/* .banner > div {
  flex: 1;
} */

.hide-banner {
  height: 0px;
  padding: 0;
}

/* data */

.data-container {
  flex: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.data h2 {
  font-size: var(--banner-title-size);
  margin-bottom: 1rem;
}

.data p {
  font-size: var(--primary-letter-size);
}

/* start btn */

#start-btn {
  margin: 0 auto;
  display: block;
  border: none;
  background: transparent;
  color: #fff;
  font-size: var(--secondary-title-size);
  position: relative;
  cursor: pointer;
}

#start-btn:hover {
  transform: scale(1.1);
}

#start-btn::after {
  content: ">>";
  position: absolute;
  left: 50%;
  bottom: -20px;
  transform: translateX(-50%) rotate(90deg);
  font-size: 14px;
  text-shadow: 0 0 0, 0 0 10px var(--main-color);
  color: var(--main-color);
  animation: mobible normal 2s infinite;
  cursor: initial;
}

@keyframes mobible {
  0% {
    bottom: -20px;
  }
  50% {
    bottom: -25px;
  }
  100% {
    bottom: -20px;
  }
}

/* Face */

.face {
  flex: 1.5;
  display: flex;
  justify-content: center;
}

.banner .face-img {
  min-width: 250px;
  width: 60%;
  aspect-ratio: 1/1;
  object-fit: cover;
  border-radius: 50%;
  border: 3px solid var(--main-color);
  box-shadow: 0 0 20px var(--main-color);
  animation: animationFace normal 3s infinite;
}

@keyframes animationFace {
  0% {
    box-shadow: 0 0 20px var(--main-color);
  }
  50% {
    box-shadow: 0 0 30px var(--main-color);
  }
  100% {
    box-shadow: 0 0 20px var(--main-color);
  }
}

/* main */

.aplication-main {
  width: 100%;
  height: 0px;
  display: grid;
  grid-template-rows: 100%;
  grid-template-columns: minmax(200px, 20%) 1fr;
  grid-area: "sidebar main";
  transition: all 2s ease;
  overflow: hidden;
}

.aplication-main.show-main {
  height: calc(100vh - 65px);
}

#sidebar {
  padding: 1rem;
  margin: 1rem 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  border-right: 1px solid var(--line-color);
  overflow: hidden;
}

#sidebar .face-img {
  width: 100%;
  aspect-ratio: 1/1;
  border-radius: 100%;
  object-fit: cover;
  border: 1px solid var(--main-color);
}

#nav {
  width: 100%;
  padding: 1rem 10px;
  margin-top: 1rem;
  border-top: 1px solid var(--line-color);
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#nav a {
  padding: 5px;
  cursor: pointer;
  border-radius: 2px;
  display: block;
}

#nav a:hover {
  background-color: var(--main-color);
  color: #111;
  transition: all 400ms ease;
}

/* Main container */

.show-main .main-container {
  overflow: auto;
}

/* main */
main {
  padding: 1rem;
  overflow: hidden;
}

section {
  width: 100%;
  height: auto;
  padding: 2rem 0;
}

.section-content {
  margin-top: 1rem;
  margin-left: 1rem;
}

/* Projects */

.projects-container {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 3rem;
  padding: 2rem;
}

.projects-container .project {
  position: relative;
  flex: 1;
  z-index: 5;
  border-radius: 5px;
  border: 1px solid transparent;
  padding: 0.5rem;
  box-shadow: 0 0 15px -5px var(--shadow-color);
}

.projects-container .project > *,
.projects-container .project-content > * {
  margin-bottom: 0.5rem;
}

.projects-container .project > *:last-child,
.projects-container .project-content > *:last-child {
  margin-bottom: 0;
}

.projects-container .img-container {
  width: 100%;
}

.projects-container .img-container img {
  width: inherit;
  aspect-ratio: 8/4;
}

.projects-container .technologies {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

.projects-container .technologies-icon {
  min-width: 20px;
  width: 5%;
}

.projects-container .github {
  display: flex;
  justify-content: end;
  padding-right: 1rem;
}

.projects-container .github button {
  cursor: pointer;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2px 5px;
  border: 1px solid var(--line-color);
  border-radius: 5px;
  background: transparent;
  transition: background-color 400ms ease;
}

.projects-container .github button img {
  min-width: 20px;
  width: 1.8vw;
}

.projects-container .github button:hover {
  background-color: var(--main-color);
}

/* Skills */

.skills {
  width: 100%;
  display: grid;
  grid-template-columns: 50% 50%;
}

.skills > article {
  padding: 1rem;
}

.skills > article h3 {
  color: #111;
  margin-bottom: 1rem;
}

.acordeon-container {
  padding: 0 1rem;
}

.acordeon {
  border-radius: 5px;
  overflow: hidden;
}

.skills .acordeon > div {
  display: flex;
  text-align: center;
  padding: 5px;
  gap: 10px;
  position: relative;
  cursor: pointer;
}

.skills .acordeon > div::after {
  position: absolute;
  font-size: 20px;
  content: "<";
  right: 1rem;
  top: 50%;
  transform: translateY(-50%) rotate(-90deg);
  transition: transform 300ms ease;
}

.skills .acordeon.active > div::after {
  transform: translateY(-50%) rotate(0);
}

.skills .acordeon > div:hover {
  background-color: var(--main-color);
  color: #111;
  transition: all 400ms ease;
}

.skills .acordeon.active > div {
  background-color: var(--main-color);
}

.skills .acordeon p {
  height: 0;
  background-color: #111;
  transition: all 300ms ease;
  overflow: hidden;
  display: flex;
  align-items: center;
}

.skills .acordeon.active p {
  overflow-wrap: break-word;
  padding: 10px;
  height: auto;
  color: #fff;
}

.skills img {
  min-width: 20px;
  width: 5%;
}

/* experiences */

#experiences {
  padding: top;
}

#experiences .section-content > p {
  margin-bottom: 2rem;
}

#experiences .section-content > p:last-child {
  margin-bottom: 0;
}

#experiences .section-content b {
  color: #111;
}

/* Contact Me */

.contact-me-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
  align-items: center;
  gap: 2rem;
}

.contact-me-container .contact-me {
  width: 100%;
}

.contact-me .contact-mail {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin-bottom: 1rem;
}

.contact-me .contact-mail .mail {
  padding: 5px 10px;
  border: 2px solid var(--line-color);
  border-radius: 6px;
  color: #111;
  flex-grow: 1;
}

.contact-me-container .contact-me img {
  cursor: pointer;
  min-width: 20px;
  width: 5%;
}

.contact-me .contact-area-redes {
  display: flex;
  justify-content: center;
  gap: 2rem;
}

.contact-me .contact-area-redes a {
  width: 8%;
}
.contact-me .contact-area-redes img {
  width: 100%;
}

/* Ubicacion */

.location-container {
  padding: 1rem;
}

.location-container iframe {
  width: 100%;
}

/* Footer */

footer {
  width: 100%;
  background-color: #111;
  display: block;
  padding: 0.5rem;
}

footer .description {
  color: var(--letter-color-2);
  font-size: var(--secondary-letter-size);
  text-align: center;
}

/* Vista movil */

@media (max-width: 600px) {
  header .header-redes {
    display: none;
  }

  .menu-btn {
    display: block;
  }

  .header-mail p {
    display: none;
  }

  .banner {
    flex-direction: column;
    text-align: center;
    justify-content: center;
    gap: 4rem;
  }

  .banner > div {
    flex: 0;
  }

  .banner .face-img {
    width: 70%;
  }

  .aplication-main {
    display: block;
    flex-grow: 1;
  }

  .aplication-main.show-main {
    overflow: auto;
  }

  #start-btn {
    font-size: 15px;
  }

  #sidebar {
    position: absolute;
    z-index: 990;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background-color: #111111e3;
    margin: 0;
    transform: translateX(-100%);
    transition: transform 600ms ease;
  }

  #sidebar.open {
    transform: translateX(0);
  }

  #sidebar img {
    display: none;
  }

  #nav {
    height: 100%;
    justify-content: start;
  }

  #nav a {
    font-size: var(--primary-title-size);
    text-align: center;
    padding: 1.5rem;
    color: var(--letter-color-2);
  }

  .section-content {
    margin-left: 0;
  }

  .skills > article {
    padding: 0;
  }

  .skills > article h3 {
    text-align: center;
  }

  footer {
    display: block;
  }
}
